
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body
{
    /*background: url('http:/
    /farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;*/
    background-size: cover;
    color: #E8DDCB;
    padding: 0;
    margin: 0;
     margin-top: 0px;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family:  GothamLight, GothamExtraLight, ProximaNovaReg;
    height:100%;
    width: 100%;
    background-color: #031634;
     /*overflow-x: scroll;*/
       white-space: nowrap;
       overflow: auto;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}




/*tin tin */

/*player*/
/* The main content */
/* The main content */

@font-face{
  font-family: ProximaNovaReg;
  src: url(fonts/ProximaNova/ProximaNova-Regular.otf);
}
@font-face{
  font-family: GothamBook;
  src: url(fonts/Gotham/Gotham-Book.otf);
}
@font-face{
  font-family: GothamExtraLight;
  src: url(fonts/Gotham/Gotham-ExtraLight.otf);
}

@font-face{
  font-family: GothamLight;
  src: url(fonts/Gotham/Gotham-Light_0.otf);
}
.gotham-elight {
  font-family: GothamExtraLight;
}
.gotham-book{
  font-family: GothamBook;
}
.gotham-light{
  font-family: GothamLight;
}
.proximanova-reg{
  font-family: ProximaNovaReg;
}


div.main-content {
    font-family:  ProximaNovaReg, GothamBook, GothamLight, GothamExtraLight;
    margin: 0px 0px 0px 121px;
    padding: 0;
    background-color: #031634;
    float: left;
    top:0;
    left:0;
    height: 100%;
}
div.main-content a{
  text-decoration: none;
  color: gray;
  cursor: pointer;
}
div.main-content a:hover{
    color: #F89484;
}
/*/elements container*/
div #elements{
    top: 0;
    left: 0;
    width: 1100px;
    height: 100%;
    position: relative;
    float: left;
    background-color: #031634;
}
/*/elements container*/

/* search */
div#search_sidebar div.search_result_div{
  color: #ffffff;

}

div#search_sidebar{
    font-family: GothamBook;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -35px;
    padding-left: 50px;
    margin-left: 120px;
    background-color: #033649;
    width: 255px;
    height: 720px;
    padding: 20px 0;
    box-shadow:  8px 0 10px -4px rgba(32, 32, 32, 0.8);
    /*display: none;*/
    z-index: 5;
}
#search_box_div{
  color: #ffffff;

    width: 100%;
    height: 120px;
    background-color: #A0A0A0;
    padding: 30px 10px 5px 10px;

}
#search_box_div .input-group input#input-group-addon{

}
#search_box_div .input-group span.input-group-addon{
    border-radius: 5px;
    left: 30px;
}
#search_box_div .input-group input#search_box{

}
#search_box_div .input-group input#search_box{
    /*background-color: red;*/
    border-radius: 5px;
    color: #A7FDFA;
}

/* search */

/*profile*/
div#profile{
    width: 900px;
    height: 100%;
    top: 0;
    left: px;
    display: block;

}


/*/your music codess*/
#your_music{
    font-family: GothamBook;
    /*position: fixed;*/
    top: 0;
    /*left:-100px;*/
    margin-left: -110px;
    background-color: #031634;
    width: 1230px;
    height: 100%;
    padding: 20px 0;
    display: block;
    z-index: 1;
    /*background-color: blue;*/
}
#urmsc_nav{
    /*margin-top: -10px;*/
    /*margin-left: -5px;*/
    padding-left:10px;
    top: 0;
    width: 100%;
    height: 35px;
    color: #A7FDFA;
    /*background-color: red;*/
    border-bottom: 1px #A7FDFA solid;
}
#urmsc_nav a {
    font-size: 1.2em;
    color: #E8DDCB;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    padding-bottom: 15px;
    margin-right: 35px;
}
#urmsc_nav a:hover{
    color: #F89484;
}
#urmsc_nav a:before{
 content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #A7FDFA;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ;
  transition: all 0.3s ;
}
#urmsc_nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#urmsc_nav a.selected{
    /*background-color: #ffffff;*/
    color:  #000;
    font-weight: bold;
    cursor: default;
    border-bottom: 3px #4CC339 solid;
}
div.playlist_side_links a:hover{
  color: #FFD6DF;

}

div.modal{
  color: black;
}
div #your_music div#playlist_div{
    width: 1200px;
    height: 600px;
     cursor: pointer;
     color: #A7FDFA;

    /*background-color: red;*/
    /*margin-left: -5px;*/
    /*float: left;*/
}
div #your_music div#playlist_div span{
    font-size: 3em;

}

div #your_music div#playlistsongs table{
  /*width: 1200px;*/
 }

 div #your_music div#songlist_div span.songglyph{
   font-size: 20px;


 }
div #your_music div#songlist_div{
   width: 1000px;
    height: 550px;
    overflow-y: auto;
    background-color:#031634;
    color: #A7FDFA;
    border: 1px #A7FDFA solid;



}

div #your_music div#album_div div#album_stuff{
  width: 300px;
   height: 100%;
   float: left;
   border: 1px #A7FDFA solid;
   color: #A7FDFA;



}
div#browse_div{
  margin-left: -95px;
  width: 600px;
  height: 100%;
  background-color:#031634;

}
div #your_music div#album_div div#songs_in_album{
  width: 630px;
   height: 100%;
   float: left;
   background-color:#031634;
   border: 1px #A7FDFA solid;
   color: #A7FDFA;


}



div #your_music div#album_div{
   width: 1000px;
    height: 625px;
    background-color:#031634;
    color: #A7FDFA;

    float: left;
    /*background-color: blue;*/
    /*display: none;*/
    /*margin-left: -5px;*/
}
div #your_music div#artist_div div#artist_stuff{
  width: 350px;
   height: 100%;
   float: left;
   border: 1px #A7FDFA solid;
   color: #A7FDFA;
 }
div #your_music div#artist_div div#songs_in_artist{
  width: 630px;
   height: 100%;
   float: left;
   background-color:#031634;
   border: 1px #A7FDFA solid;
   color: #A7FDFA;


}
div #your_music div#artist_div{
  color: gray;
   width: 1000px;
    height: 600px;
    /*background-color: pink;*/
    background-color:#031634;
    color: #A7FDFA;

}

div #your_music div#playlist_sidebarlinks input{
    margin-left: 20px;

}
div #your_music div#playlist_sidebarlinks{
    top:0;
    /*left: 50px;*/
    /*margin-left: 10px;*/
    padding-left: 20px;
    height: 600px;
    width: 250px;
    /*background-color:#031634;*/
    border: 1px #A7FDFA solid;
    /*background-color:#031634;*/
    /*color: #b3bcc5;*/
    float: left;
    color: #A7FDFA;

    /*display: none;*/
}
div #your_music div#playlist_div h6,
div #your_music div#playlist_div span{
    /*padding-left: 20px;*/
    /*color: #b3bcc5;*/
    /*width: 100px;*/

}

div #your_music div#playlist_div span.glyphicon-plus,
div #your_music div#playlist_div span.glyphicon-star{
    font-size: 2.8em;
}

div #your_music div#playlist_div .playlist_side_links {
    border-bottom: 1px #A7FDFA solid;
    padding: 10px 5px 10px 20px;
    cursor: pointer;
}
div #your_music div#playlistsongs{
    height: 100%;
    /*color: gray;*/
    color: #A7FDFA;

       width: 700px;
      height: 100%;
      /*background-color:#031634;*/
      float: left;
      border: 1px #A7FDFA solid;

    /*background-color: #fff;*/
}
/*/MUSIC PLAYER!!!!!!!!!!!!!!!!!!!!*/

/*/MUSIC PLAYER!!!!!!!!!!!!!!!!!!!!*/
div#player div#main_ctrl{
margin-top: -15px;

}
div#player div#main_ctrl audio{
  display: block;
  width: 1900px;
  margin-left: -550px;

}
div#player{
    /*top:0;*/
    left: 120px;
    top: 600px;
    width: 1250px;
    height: 100px;
    background-color: #036564;
    /*float: left;*/
    /*left: 1120px;*/
    position: fixed;
    padding: 20px;

}

/*backdrop daw */
.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.2; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 1;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.sidebar-left {
    font-family: GothamBook;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #033649;
    width: 120px;
    height: 100%;
    padding: 20px 0;
    border-right: 1px gray solid;
    z-index: 10;

}

.sidebar-left a.company-logo {
    display: block;
    text-decoration: none;
    font-family: Cookie, cursive;
    width: 76px;
    height: 76px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    color:  #ffffff;
    font-size: 28px;
    font-weight: normal;
    line-height: 2.6;
    border-radius: 50%;
    background-color:  #181a1b;
}

.sidebar-left .sidebar-links {
    margin: 20px auto;
}

.sidebar-left .sidebar-links a {
    display: block;
    text-decoration: none;
    margin: 0 auto 5px auto;
    padding: 20px 0;
    background-color: #031634;
    text-align: center;
    color:  #b3bcc5;
    font-size: 12px;
    font-weight: bold;
    border-left-width: 2px;
    border-left-style: solid;
}

.sidebar-left .sidebar-links a i.fa {
    display: block;
    font-size: 35px;
    margin-bottom: 5px;

}

.sidebar-left .sidebar-links a.selected{
    background-color: #ffffff;
    color:  #7c8085;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
}

/* Link Colors */

.sidebar-left .sidebar-links a.link-blue {
    border-color: #487db2;
}
.sidebar-left .sidebar-links a.link-blue i.fa {
    color: #487db2;
}

.sidebar-left .sidebar-links a.link-red {
    border-color: #da4545;
}
.sidebar-left .sidebar-links a.link-red i.fa {
    color: #da4545;
}

.sidebar-left .sidebar-links a.link-yellow {
    border-color: #d0d237;
}
.sidebar-left .sidebar-links a.link-yellow i.fa {
    color: #d0d237;
}

.sidebar-left .sidebar-links a.link-green {
    border-color: #86be2e;
}
.sidebar-left .sidebar-links a.link-green i.fa {
    color: #86be2e;
}



/*//admin stuff*/


div#elements div#account_div div#user_details{
  width: 500px;
  background-color: blue;
  margin-left: 5px;

}
div#elements div#account_div{
  background-color: #031635;

}
div#elements div#account_div div#user_list{
  width: 450px;
  height: 700px;
  background-color:#031634;
  border: 1px #A7FDFA solid;
  float: left;

}
div#elements div#account_div div#user_list table.user-table{
  width: 300px;
  /*height: 100%;*/
  float: left;
}
div #your_music div#account_div div#user_details{
  width: 550px;
  background-color:#031635;
  float: left;
  border-radius:
}
