<!-- Modal -->
<div ng-app="app" class="modal" id="addtoplistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to playlist</h4>
      </div>
      <div class="modal-body">
      	<span>Select playlist: </span>
      	<div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				  {{ selectedPlaylist }}<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				    <li ng-repeat="playlist in playlists"> <a ng-click="getselectedPlist(playlist)">{{ playlist.playlist_name}} </a> </li>
				  </ul>
				</div>
      	<span>Selected playlist: {{selectedPlaylist}} </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addsongtoPlaylist()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- modal -->
<!-- Modal -->
<div ng-app class="modal" id="addsongModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add song details</h4>
      </div>
      <div class="modal-body">
      	<span>Add song details</span>
      	<form class="login"  ng-model="newsong"  role="form">


        <span> Song Title: &nbsp;</span>
	        <input type="" ng-model="newsong.song_title" name="" id="" placeholder=""  value=""  required autofocus>
	        <br />
          <!-- <form role="form"> -->
 			    <div class="radio">
 			      <input type="radio" name="Album" value="Album" ng-model="albumtype" >Album
 		      	<div ng-show="isShown('Album')">
 			      <span > Song Album:

 			        <input type="" ng-model="newsong.song_album" name="" id="" placeholder=""  value=""  required autofocus>
               <br />
 			     	</span>
 		      </div>
 			    </div>
 			    <div class="radio">
 			      <input type="radio" name="Single" value="Single" ng-model="albumtype">Single
 			    </div>
 			  <!-- </form> -->

        <span> Song Artist: </span>
	        <input type="" ng-model="newsong.song_artist" name="" id="" placeholder=""  value=""  required autofocus>
          <br />
	      <span> Song Genre: &nbsp;</span>
	        <input type="" ng-model="newsong.song_genre" name="" id="" placeholder=""  value=""  required autofocus>
          <br/>
        <span> Filepath: &nbsp;</span>
  	      <input type="" ng-model="newsong.filepath" name="" id="" placeholder=""  value=""  required autofocus>
	        <br/>
		   	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addsonganddetails(newsong)">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div ng-app class="modal" id="editsongModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit song details</h4>
      </div>
      <div class="modal-body">
      	<span>Add song details</span>
      	<form class="login"  ng-model="editedSong" action="" method="post" role="form">
      	<span> Song Title: &nbsp;</span>
	        <input type="" ng-model="editedSong.song_title" name="" id="" placeholder=""  value=""  required autofocus>
	        <br />
	      <span> Song Album: </span>
	        <input type="" ng-model="editedSong.song_album" name="" id="" placeholder=""  value=""  required autofocus>	        <br />
        <span> Song Artist:</span>
	        <input type="" ng-model="editedSong.song_artist" name="" id="" placeholder=""  value=""  required autofocus>	        <br />
	      <span> Song Genre: &nbsp; </span>
	        <input type="" ng-model="editedSong.song_genre" name="" id="" placeholder=""  value=""  required autofocus>
	        <br />
		   	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="updateSong()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- modal -->



<div ng-app="app" class="main-content">

		<aside class="sidebar-left">

			<!-- <a class="company-logo" href="#">Logo</a> -->
            <img src="http://localhost:8000/images/sp.png" class="company-logo" width="100px" height="100px;">

			<div class="sidebar-links">
				<a class="link-blue" ng-click="toggleCustom(custom)"></i>Search</a>
				<span class=""> </span>
				<a class="link-blue" href="" ng-click="toggleBrowse()"></i>Browse</a>
				<span class=""> </span>
				<a class="link-yellow" ng-click="toggleUrmsc()"></i>Your Music</a>
				<span class=""> </span>
        <a class="link-green" href="" ng-click="toggleProfile()"></i>Profile</a>
				<a class="link-red" href="" ng-click="logout()"></i>Logout</a>
			</div>

		</aside>
		<div id="search_sidebar" ng-hide="custom">
			<div id="search_box_div">
				<div class="input-group input-group-md">
				  <span class="input-group-addon">
				    <span class="glyphicon glyphicon-search"></span>
				  </span>
				  <!-- <input class="form-control" type="text" placeholder="Search" id="search_box"> -->
				  <form class="search_bar"  ng-submit="" data-ng-model="searchdata"  role="form" >
				  	<input class="form-control" type="text" name="searchthis" id="searchthis" placeholder="Search a song, artist or album"  value="" ng-model="searchdata.searchthis"> <br/><br/><br/>
				</div>
				<input type="radio" name="searchtype" id="searchtype" value="song" ng-model="searchdata.searchtype" required autofocus> song
	   			<input type="radio" name="searchtype" id="searchtype" value="artist" ng-model="searchdata.searchtype" required autofocus> artist
	    		<input type="radio" name="searchtype" id="searchtype" value="album" ng-model="searchdata.searchtype" required autofocus> album
				<input type="submit" ng-click="SearchFxn(searchdata)" value="Search" class="btn btn-success btn-sm"/>
				</form>
			</div>
			<br/><br/><br/>

			<h1>Results</h1>

			<h3>songs</h3>
			<ul ng-repeat="song in song_results">
				<li>{{ song.song_title }}</li>
			</ul>

			<h3>artists</h3>
			<ul ng-repeat="artist in artist_results">
				<li>{{ artist.artist_name }}</li>
			</ul>

			<h3>albums</h3>
			<ul ng-repeat="album in album_results">
				<li>{{ album.album_title }}</li>
			</ul>

		</div>
		<div id="elements">
			<div id="your_music" ng-hide="your_music">
				<div id="urmsc_nav" class="urmsc_nav_links" >
					<a class="playlist" ng-click="togglePlaylist()" href=""> PLAYLISTS </a>
					<a  class="songs" ng-click="toggleSongs()"  href="">SONGS </a>
					<a  ng-click="toggleAlbum()" class="albums"  href=""> ALBUMS</a>
          <a class="artist" ng-click="toggleArtist()"  href=""> ARTIST</a>
          </div>
				<div id="playlist_div"  ng-hide="playlist">
					<div id="playlist_sidebarlinks">
  					<div class="" ng-hide="createplist">
						<input type="text" name="createplaylist" id="newplaylist" placeholder="Playlist"  ng-model="newplaylist.playlist_name" value=""   required autofocus>
						<br/>
					  <input type="submit"  ng-click="newPlaylist()"value="Create" class="btn btn-success btn-sm" />
					</div>

						<div class=" playlist_side_links">
							<table class="pl_tbl1">
								<tr>
									<td> <span  class="glyphicon glyphicon-plus" > </span> </td>
									<td>  <h6 ng-click="shownewplist()"> New Playlist  </h6>


									</td>
										<td> </td>
									<td> </td>
									<td> </td>
								</tr>
							</table>
						</div>
						<div class="playlist_side_links">
							<table  class="pl_tbl2">
								<tr>
									<td> <span  class="glyphicon glyphicon-star" > </span> </td>
									<td>  <h6> Most Played </h6> </td>
									<td> </td>
									<td> </td>
									<td> </td>
								</tr>
							</table>
						</div>

						<div id="playlists_for_real">
						<div ng-hide="editplaylisttextbox">

			        <input type="text" name="" id="" placeholder="Playlist"  ng-model="editedplist.playlist_name" value="" required autofocus >
				     <br/>
				     <input type="submit"  ng-click="editPlaylist(playlist)"value="Save" class="btn btn-success btn-sm" />
				     <input type="submit"  value="Cancel" ng-click="canceleditPlaylist()" class="btn btn-success btn-sm" />
						</div>

							<br/>
							<table class="table">
								<thead>
								<tr> Playlist Name</tr>
								<tr>  </tr>

								</thead>
								<tbody>
									<tr ng-repeat="playlist in playlists">
										<td ng-click="getplaylist(playlist)"> <h6 ng-hide="editplaylistnametext"> {{ playlist.playlist_name}}  </h6>
										</td>
										<td>
										<a> <span  class="glyphicon glyphicon-remove" ng-click="deletePlaylist(playlist)" > </span> </a>
										<a> <span  class="glyphicon glyphicon-pencil" ng-click="geteditPlaylist(playlist)" > </span> </a>
										 </a>
										</td>
									</tr>
								</tbody>
								</table>
						</div>
					</div>
					<div id="playlistsongs">
					<h4> {{ currentselectedplaylist.playlist_name }} </h4>
          <h6> number of songs: {{ currentselectedplaylist.playlist_no_of_songs }} </h6>
						<table class="table">
								<thead>
									<tr>
										<th> Track </th>
										<th>Artist</th>
										<th> Album </th>
										<th> Genre </th>
										<th> Action </th>
									</tr>

								</thead>
								<tbody>
									<tr ng-repeat="song in currentplaylist">


									<td ng-click=""> {{ song.song_title}} </td>
										<td ng-click=""> {{ song.song_artist}} </td>
										<td ng-click=""> {{ song.song_album}} </td>
										<td ng-click=""> {{ song.song_genre}} </td>
										<td ng-click="">
										<a> <span  class="glyphicon glyphicon-remove" ng-click="removeSongfromPlaylist(song)" > </span> </a>

										<input type="submit"  ng-click="" value="Remove" class="btn btn-success" />
										</td>
									</tr>

								</tbody>

								</table>


					</div>
				</div>
				<div id="songlist_div" ng-hide="songlist">
					<form action="">
					  <input type="file" id="i_file" name="music" accept="audio/*" name="song_filename" ng-model="song_filename"
					  onchange="angular.element(this).scope().fileNameChanged(this)">
					  <input type="button" class="btn btn-success" value="Upload" data-toggle="modal" data-target="#addsongModal">
					</form>
					<table class="table">
								<thead>
									<tr>
										<th> Track </th>
										<th>Artist</th>
										<th> Album </th>
										<th> Genre </th>
										<th> No of times played </th>
                    <th> Action </th>
									</tr>

								</thead>
								<tbody>

									<tr ng-repeat="song in allsongs">

									<tr ng-repeat="song in allusersongs">

										<td ng-click=""> {{ song.song_title}} </td>
										<td ng-click=""> {{ song.song_artist}} </td>
										<td ng-click=""> {{ song.song_album}} </td>
										<td ng-click=""> {{ song.song_genre}} </td>
										<td ng-click=""> {{ song.song_no_of_times_played }} </td>

                      <td>
                      <!-- <input   uib-tooltip="Enter something in this input field to disable this tooltip"
                       tooltip-placement="top"
                       tooltip-trigger="mouseenter"
                      type="button" value="Add to playlist"  >
										<input type="button" value="Remove" ng-click="removefromSongs(song)">
										<input type="button" value="Play" ng-click="playSong(song)">
										<input type="button" value="Edit" > -->


										<a ng-click="putsongid(song)" data-toggle="modal" data-target="#addtoplistModal" >

                       <span  uib-tooltip="Add to playlist"
                        tooltip-placement="top"
                        tooltip-trigger="mouseenter"
                         class="glyphicon glyphicon-plus songglyph" > </span> </a>

                        <a ng-click="getoneSong(song, editedSong)" data-toggle="modal" data-target="#editsongModal">
                         <span
                         uib-tooltip="Edit song details"
                          tooltip-placement="top"
                          tooltip-trigger="mouseenter"
                         class="glyphicon glyphicon-pencil songglyph" > </span>
                       </a>

                  <a ng-click="removefromSongs(song)">
										<span
                    uib-tooltip="Delete song from account"
                     tooltip-placement="top"
                     tooltip-trigger="mouseenter"
                    class="glyphicon glyphicon-remove songglyph" > </span>
                  </a>

                  <a ng-click="playSong(song)">
										<span class="glyphicon glyphicon-play songglyph" > </span>
                  </a>


										</td>


									</tr>

								</tbody>

								</table>

				</div>
				<div id="album_div" ng-hide="album">
          <div id="album_stuff">
					<table class="table">
								<thead>
									<tr>
										<th> Album Title </th>
										<th> Number of Songs </th>
										<!-- <th>Year Released</th> -->
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="album in allalbums">
										<td ng-click="getSongsAlbum(album.album_id)"> {{ album.album_title}} </td>
										<td ng-click=""> {{ album.album_no_of_songs}} </td>
										<!-- <td ng-click=""> {{ album.Year_released}} </td> -->
										</td>
									</tr>
								</tbody>
						</table>
				</div>
        <div id="songs_in_album">
          <table class="table">
                <thead>
                  <tr>
                    <th> Track </th>
                    <th>Artist</th>
                    <th> Album </th>
                    <th> Genre </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="song in currentsonginalbum">
                    <td ng-click=""> {{ song.song_title}} </td>
                    <td ng-click=""> {{ song.song_artist}} </td>
                    <td ng-click=""> {{ song.song_album}} </td>
                    <td ng-click=""> {{ song.song_genre}} </td>
                  </tr>
                </tbody>
                </table>
      </div>
      </div>
				<div id="artist_div" ng-hide="artist">
          <div id="artist_stuff">
					<table class="table">
								<thead>
									<tr>
										<th> Artist_name </th>
										<!-- <th> Number of Songs </th> -->
										<th> Artist_no_of_songs</th>
										<th>No_of_albums</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="artist in allartists">
										<td ng-click="getSongsArtist(artist.artist_id)"> {{ artist.artist_name}} </td>
										<td ng-click=""> {{ artist.artist_no_of_songs}} </td>
										<td ng-click=""> {{ artist.artist_no_of_albums}} </td>
										</td>
									</tr>
								</tbody>
						</table>
				</div>
        <div id="songs_in_artist">
          <table class="table">
                <thead>
                  <tr>
                    <th> Track </th>
                    <th>Artist</th>
                    <th> Album </th>
                    <th> Genre </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="song in currentsonginartist">
                    <td ng-click=""> {{ song.song_title}} </td>
                    <td ng-click=""> {{ song.song_artist}} </td>
                    <td ng-click=""> {{ song.song_album}} </td>
                    <td ng-click=""> {{ song.song_genre}} </td>
                  </tr>
                </tbody>
                </table>
      </div>
			</div>
      <div id="rec_msc_div" ng-hide="recmsc">
        <div id="songs_in_artist">
          <table class="table">
                <thead>
                  <tr>
                    <th> Track </th>
                    <th>Artist</th>
                    <th> Album </th>
                    <th> Genre </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="song in currentsonginartist">
                    <!-- add to songs from recommended music -->
                    <td ng-click=""> {{ song.song_title}} </td>
                    <td ng-click=""> {{ song.song_artist}} </td>
                    <td ng-click=""> {{ song.song_album}} </td>
                    <td ng-click=""> {{ song.song_genre}} </td>
                  </tr>
                </tbody>
                </table>
      </div>
    </div>
			<div id="darkLayer" class="darkClass" style="display:none"></div>

			<div id="profile">


			</div>
		</div>



    <div id="browse_div" ng-hide="browsediv">
      <h3> Recommended Songs: </h3>

      <table class="table">
            <thead>
              <tr>
                <th> Track </th>
                <th>Artist</th>
                <th> Album </th>
                <th> Genre </th>
                <th> No of times played </th>
                <th> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="song in allsongs| orderBy: song.song_id | limitTo: 5">
                <td ng-click=""> {{ song.song_title}} </td>
                <td ng-click=""> {{ song.song_artist}} </td>
                <td ng-click=""> {{ song.song_album}} </td>
                <td ng-click=""> {{ song.song_genre}} </td>
                <td ng-click=""> {{ song.song_no_of_times_played }} </td>
                <td>

                <input type="button" class="btn btn-primary" value="Add to my songs" ng-click="addtoursongs(song)" >


                </td>
              </tr>
            </tbody>
            </table>
    </div>
    
    <div id="PROFILE_div" ng-hide="profile">
      <p class="form-title" >Edit Profile</p>
      <form class="login"  ng-submit="" data-ng-model="formData"  role="form">
        <input readonly type="text" name="Name" id="Name" placeholder="{{ Name }}"  value="" ng-model="formData.Name">
      	<br />
        <input readonly type="text" name="Username" id="UserName" placeholder="{{ UserName }}"  value="" ng-model="formData.UserName"> <em>cannot change</em>
      	<br />
	      <input readonly type="radio" name="sex" id="sex" value="male" ng-model="formData.Sex" required autofocus> Male
      	<input type="radio" name="sex" id="sex" value="female" ng-model="formData.Sex" required autofocus>Female
	      <br />
	      <input ng-hide='passphrase' type="password" name="password" id="password" placeholder="Password"  value=""   ng-model="formData.Password"  required autofocus>
      	<br />
	      <input readonly type="email" name="EmailAddress" id="EmailAddress" placeholder="Email Address"  value=""  ng-model="formData.Email_Address" required autofocus>
	      <br />
	      <input type="submit" ng-hide='updatebtn' ng-click="updateProfile(formData)" value="Update" class="btn btn-success btn-sm" />
	      <br />
	      <input type="button" ng-hide='cancelbtn' ng-click="cancelProfile()" value="Cancel" class="btn btn-success btn-sm" />
        <input type="button" ng-hide='updater' ng-click="editProfile()" value="Edit Profile" class="btn btn-success btn-sm" />
    	</form>
    </div>

		</div>
    <div id="player">
				<div id="main_ctrl">
          <h6> Now playing: {{playedSong.song_title}}</h6>
          <audio controls id='audioplayer'></audio>
				</div>
			</div>
		</div>


</div>
