<div class="main-content">
			
		<aside class="sidebar-left">

			<!-- <a class="company-logo" href="#">Logo</a> -->
            <img src="images/sp.png" class="company-logo" width="100px" height="100px;">

			<div class="sidebar-links">
				<span class="glyphicon glyphicon-search"> </span>
				<a class="link-blue side-toggle" href="#search_sidebar"></i>Search</a>
				<span class=""> </span>				
				<a class="link-red show-toggle" href="#"></i>Browse</a>
				<span class=""> </span>				
				<a class="link-yellow selected show-toggle" href="#your_music"></i>Your Music</a>
				<span class=""> </span>				
				<a class="link-green show-toggle" href="#profile"></i>Profile</a>
			</div>

		</aside>
		<div id="search_sidebar">
			<div id="search_box_div">
				<div class="input-group input-group-md">
				  <span class="input-group-addon">
				    <span class="glyphicon glyphicon-search"></span>
				  </span>
				  <input class="form-control" type="text" placeholder="Search" id="search_box">
				</div>
			</div>

		</div>
		<div id="elements">
			<div id="your_music">
				<div id="urmsc_nav" class="urmsc_nav_links" >
					<a href="#playlist_sidebar" class="playlist slide-toggle"> PLAYLISTS </a>
					<a href="#" class="songs">SONGS </a>
					<a href="#" class="albums"> ALBUMS</a>
					<a href="#" class="artist"> ARTIST</a>	
					<a class="artist" ng-click="logout()"> Logout</a>	
				</div>
				<div id="playlist_sidebar">
					<div class=" playlist_side_links">
						<table class="pl_tbl1">
							<tr>
								<td> <span  class="glyphicon glyphicon-plus" > </span> </td>
								<td>  <h6> New Playlist  </h6> </td>
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>						
						</table>
					</div>
					<div class="playlist_side_links">
						<table  class="pl_tbl2">
							<tr>
								<td> <span  class="glyphicon glyphicon-star" > </span> </td>
								<td>  <h6> Most Played </h6> </td>
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>						
						</table>
					</div>
					<div class="playlist_side_links">
		           		<input type="text" name="createplaylist" id="newplaylist" placeholder="Playlist"  value=""   required autofocus>
			           	<input type="submit" value="Create" class="btn btn-success btn-sm" />
					</div>
				</div>
				<div id="user_list">
		
		<table class="table table-hover table-striped">
			<tdead>
				<tr class="info">
					<th>Username</th>
					<th>User Role</th>
					<th></th>
					<th></th>
				</tr>
			<tdead>
			<tbody>
				<tr ng-repeat = "account in accounts"> <!-- loop-->
					<td>{{account.username}}</td> <!-- use expression -->
					<td>{{account.user_role}}</td>
					<td><button class="btn btn-primary" type="button" ng-click="makeAdmin(account)">Make Admin</button></td>	
					<td><button class="btn btn-success" type="button" ng-click="approveUser(account)">Approve User</button></td>	
					<td><button class="btn btn-danger" type="button" ng-click="unauthorizeUser(account)">Unauthorize User</button></td>
				</tr>
		
			</tbody>
		</table>
		
		</div>	




				
			</div>
			<div id="darkLayer" class="darkClass" style="display:none"></div>
			
			<div id="profile">

				
			</div>
		</div>
		
		

		
	</div>
