<div ng-app class="container">
    <div class="row">
        <div class="col-md-12">    
            <div class="wrap">        	        
            	<div id="signup" >
            		<p class="form-title" >Edit Profile</p>	   
            		<!-- <div ng-repeat="s in single_user"> -->
	              <form class="login"  ng-submit="" data-ng-model="formData"  role="form">

		             
		                	<input type="text" name="FirstName" id="FirstName" placeholder="First Name"  value="" ng-model="formData.FName">
		                	<br />
		                	<input type="text" name="MiddleName" id="MiddleName" placeholder="Middle Name"  value="" ng-model="formData.MName"  required autofocus>
		                	<br />

	                		<input type="text" name="LastName" id="LastName" placeholder="Last Name"  value="" ng-model="formData.LName"   required autofocus>
		                	<br />

	                    	<input type="text" name="username" id="username" placeholder="Username"  value="username" ng-model="formData.UserName" required autofocus> 
	                    	cannot change

	                    	<br />

	                    	<input type="radio" name="sex" id="sex" value="male" ng-model="formData.Sex" required autofocus> Male 
	                    	<input type="radio" name="sex" id="sex" value="female" ng-model="formData.Sex" required autofocus>Female

		                	<br />

	                    	<input type="password" name="password" id="password" placeholder="Password"  value=""   ng-model="formData.Password"  required autofocus>
		                	<br />

	                    	<input type="email" name="EmailAddress" id="EmailAddress" placeholder="Email Address"  value=""  ng-model="formData.Email_Address" required autofocus> 
	                    	                  
		                	<br />

	                    	<input type="date" name="Birthday" id="Birthday" value=""  ng-model="formData.Birthday"  required autofocus>
	                    
		                	<br />

	                   		<input type="submit" ng-click="" value="Sign Up" class="btn btn-success btn-sm" />
										<a href="#/sign-in" class="div-toggle"   >Already have an account? Signin</a>
	            		</form>
	            		<!-- </div>            -->
		          	</div>	   
		          </div>                 
	            </div>
            </div>
        </div>
